/* Modal básico */
.modal {
    display: none;
    position: fixed;
    z-index: 11;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--text-secondary-color);
    width: 40%;
    border-radius: 10px;
}

/* Modal con animación de entrada */
.modal {
  /* ... otros estilos ... */
  opacity: 0; /* Inicialmente transparente */
  transition: opacity 0.3s ease; /* Transición suave */
}

.modal.show {
  opacity: 1;
}

/* Modal con efecto de zoom */
.modal-content {
  /* ... otros estilos ... */
  transform: scale(0.9); /* Escala inicial más pequeña */
  transition: transform 0.3s ease;
}

.modal.show .modal-content {
  transform: scale(1);
}

/* Botón de cerrar */
.close-btn {
  color: var(--text-color);
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-btn:hover,
.close-btn:focus {
  color: var(--accent-color);
}
