.table-container {
  overflow-x: auto; /* Para que la tabla sea scrollable horizontalmente si es necesario */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

th, td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: var(--secondary-color);
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
