/* Estilos generales para el formulario */
.form-container {
    background-color: var(--secondary-color);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 1.5rem;
}

/* Estilos para las etiquetas */
label {
  display: block;
  margin-bottom: 0.5rem;
  color: var(--text-color); /* Color de texto blanco */
}

/* Estilos para los campos de entrada */
input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid var(--text-secondary-color); /* Borde gris claro */
  border-radius: 5px;
  background-color: var(--primary-color);  /* Fondo gris oscuro */
  color: var(--text-color); /* Color de texto blanco */
  box-sizing: border-box; /* Incluye el borde y el padding en el ancho total */
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
textarea:focus,
select:focus {
  outline: none;
  border-color: var(--accent-color); /* Borde verde al enfocar */
}

/* Estilos para los botones */
button[type="submit"] {
  background-color: var(--accent-color); /* Fondo verde */
  color: var(--primary-color);           /* Texto gris oscuro */
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transición suave para el color de fondo */
}

button[type="submit"]:hover {
  background-color: lighten(var(--accent-color), 10%); /* Verde más claro al pasar el mouse */
}

/* Estilos para errores de validación */
.errorlist {
  color: red;
  font-size: 0.8rem;
  list-style: none;
  margin: 0.5rem 0;
  padding: 0;
}
