<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CSS Base -->
  <link rel="stylesheet" href={% static 'css/base.css' %}>
  <!-- layout -->
  <link rel="stylesheet" href={% static 'css/layout/header.css' %}>
  <link rel="stylesheet" href={% static 'css/layout/navigation.css' %}>
  <!-- components -->
  <link rel="stylesheet" href={% static 'css/components/table.css' %}>
  <link rel="stylesheet" href={% static 'css/components/button.css' %}>
  <link rel="stylesheet" href={% static 'css/components/form.css' %}>
  <link rel="stylesheet" href={% static 'css/components/footer.css' %}>
  <!-- Iconos -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <title>{% block title %}{% endblock title %} - Home</title>
</head>
<body>

  <header id="header">
    {% include 'partials/header.html' %}
  </header>

  <main id="content">
    {% block content %}
    {% endblock content %}
  </main>

  <footer id="footer">
    {% include 'partials/footer.html' %}
  </footer>

</body>
</html>